@using Asteroids.Entities
@model List<AsteroidsEntity>
@{
    ViewData["Title"] = "Asteroids";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">
                        Diametro : @((item.EstimatedDiameter.kilometers.Max * item.EstimatedDiameter.kilometers.Min / 2) * 13.14)<br>
                        Velocidad : @item.CloseApproachData.RelativeVelocity.Velocity<br>
                        Fecha: @item.CloseApproachData.Date<br>
                        Planeta : @item.CloseApproachData.OrbitingBody
                    </p>
                </div>
            </div>
        </div>
    }
</div>
